footer {
  padding: 2rem;
  background-color: #FFF;
  font-size: 14px;
  border-top: 1px solid var(--dark-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
